[build]
  command = "bun run netlify:build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"
  BUN_VERSION = "1.1.38"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "https://btbminiapp.netlify.app/*"
  to = "https://mini.btb.finance/:splat"
  status = 301
  force = true 